.visit-stores{
    padding:80px 70px;
    background:#FFF8F8;
}

.section-title{
    text-align:center;
    font-size:24px;
    color:#d95d81;
    margin-bottom:10px;
    font-style: italic;
}


/* Main container */

.brand-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

/* Cards */

.brand-slider{
    display:flex;
    gap:30px;
}

.brand-card{
    width:160px;
    text-align:center;
}

/* Circle */

.brand-circle{
    width:130px;
    height:130px;
    margin:auto;

    border-radius:50%;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;
}

.brand-circle:hover{
    transform:translateY(-5px);
}

.brand-circle img{
    width:70%;
    height:70%;
    object-fit:contain;
}

.brand-card p{
    margin-top:15px;
    color:#444;
    font-weight:600;
}

/* Arrows */

.arrow-btn{
    width:40px;
    height:40px;

    border:none;

    border-radius:50%;

    background:white;

    box-shadow:0 3px 10px rgba(0,0,0,.15);

    font-size:18px;

    color:#d95d81;

    cursor:pointer;

    transition:.3s;
}

.arrow-btn:hover:not(:disabled){
    background:#d95d81;
    color:white;
}

.arrow-btn:disabled{
    opacity:.4;
    cursor:not-allowed;
}

.view-all-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.view-all-btn{
    text-decoration: none;
    font-size: 12px;
    background: #d95d81;
    color: white;
    padding: 8px 12px;
    border-radius: 30px;
    font-weight: 450;
    transition: 0.3s;
}

.view-all-btn:hover{
    background: #c54b6f;
}